#logo{
    grid-area: 1/1/2/2;
    z-index: 3;
    margin: 15px 0px 0px 125px;
}

#logo img{
    max-width: 6em;
}

body{
    background-color: #3b1201;
}

#main{
    /* background-image: url('../images/backgroundimage.jpg'); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1080px;
    margin: 0 auto;
    grid-area: 1/1/2/2;
    /* background-color: #3b1201; */
    /* z-index: -2; */

}

#book {
    display: grid;
    grid-template-areas: 1fr/1fr;
    background-color: #3b1201;
    margin: 0 auto;
    max-width: 1080px;

}

#bookbgimg{
    grid-area: 1/1/2/2;
    z-index: 0;
    width: 100%;
}

#cloudbiscuits, .instructions, .ingredients, #biscuits, #quantity{
    justify-self: center;
    align-self: center;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
}

#cloudbiscuits{
    grid-area: 1/1/2/2;
}

.instructions{
    grid-area: 2/1/3/2;
}

.ingredients{
    grid-area: 3/1/4/2;
}

#biscuits{
    max-width: 250px;
    grid-area: 2/2/3/3;
}

#quantity{
    grid-area: 3/2/4/3;
}